{% extends "::base.html.twig" %}

{% block title %}LeooTeamSendgridChartsBundle:Category:stats{% endblock %}

{% block body %}
<h1>Welcome to the Category:stats page</h1>
    {{ dump(stats) }}
{% endblock %}
